<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <title>{% block title %}Administration • Popolitinero{% endblock %}</title>
{% stylesheets output='css/admin.min.css' filter='yui_css'
  '@PopolitineroAdminBundle/Resources/public/css/main.css'
  '@PopolitineroAdminBundle/Resources/public/css/xbreadcrumbs.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
{% endstylesheets %}
{% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">
          google.load("jquery", "1.6.2");
          google.load('maps', '3', {other_params:'sensor=false&amp;libraries=geometry'});
        </script>
{% block gmapsjs %}{% endblock %}
{% javascripts '@PopolitineroAdminBundle/Resources/public/js/*' filter='yui_js' %}
        <script src="{{ asset_url }}"></script>
{% endjavascripts %}
        <script type="text/javascript">
        
        	$(document).ready(function(){
            $('#breadcrumbs').xBreadcrumbs({collapsible:true});
          });
          
        </script>
    </head>
    <body{% block bodyonload %}{% endblock %}>
    <div style="height: 5%; width: 100%; background: #F0F0F0;">
    {% block breadcrumb %}{% endblock %}
    </div>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
    </body>
</html>
